#container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.wrap-folded {
    box-shadow: inset 0 0 10vw rgba(0, 0, 0, 0.25);
    flex-grow: 1;
    transition: left .2s ease;
}

.wrap {
    box-shadow: inset 0 0 10vw rgba(0, 0, 0, 0.25);
    flex-grow: 1;
    border: brown 4px double;
}

.wrap-controls {
    position: relative;
    width: 1px;
    padding: 20px;
}

#control-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    padding: 20px;
    background-color: rgba(50, 50, 50, 0.5);
}

button {
    font-size: 24px;
    background-color: rgb(75, 60, 208);
    color: rgb(255, 255, 255);
}

#save-wraps {
    float: right;
}

h1 {
    font-size: 8vw;
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 #d9d9d9, 0 2px 0 #cccccc, 0 3px 0 #bfbfbf, 0 4px 0 #b3b3b3, 0 6px 12px rgba(0, 0, 0, 0.35);
}
